doctype html
html.no-js(lang="fr")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    title Layout
    link(href="../../stylesheets/styleguide.css" type="text/css" rel="stylesheet")
    script(src="../../javascript/lib/modernizr.custom.js")

  body
    != yield

    script(src = "../../javascript/lib/jquery-2.1.4.min.js")
