// Define the color of input placeholder
@mixin input-color-placeholder($color) {
  // WebKit browsers
  &::-webkit-input-placeholder {
    color:    $color;
  }

  // Mozilla Firefox 4 to 18
  &:-moz-placeholder {
    color:    $color;
    opacity:  1;
  }

  // Mozilla Firefox 19+
  &::-moz-placeholder {
    color:    $color;
    opacity:  1;
  }

  // Internet Explorer 10+
  &:-ms-input-placeholder {
    color:    $color;
  }
}

// Inner padding and border oddities in FF3/4
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input::-ms-clear {
  display: none;
}

input, textarea {
  &:focus {
    background-color: $grayF2;
    outline: 0;
  }
}

// TODO: define here all generic rules related to forms
