h1= title

p The default font family is Arial.

code font-family: 'Arial';

p It is available in 3 weights.

.lsg-font
  h2(style="font-weight: 300;") Arial Light
  code font-weight: 300;

  h2(style="font-weight: 500;") Arial Regular
  code font-weight: 500;

  h2(style="font-weight: 700;") Arial Bold
  code font-weight: 700;
